h1 {
    line-height: 1.2;
}

h2.description {
    color: #8F68DA !important;
}

.clearifx {
    clear: both;
    display: block;
    height: 1px;
}

.clear {
    height: auto !important;
}

.left {
    float: left;
}

.right {
    float: right;
}

.ui-tabs-hide {
    display: none !important;
}

.datatable td, .datatable th  {
    margin:0;
    padding: 0.3em;
    vertical-align: middle;
        font-weight: normal;
}

table.datatable {
    margin: 0 0 1em 0;
    font-size: 11px !important;
}

.datatable th {
    text-align: left;
    background-color: #E4F1F9;
    border-bottom: 2px solid white;
    border-top: none;
    color: #4C4C4C;
}

/**
 * For jQuery purposes targets and actions will not be displayed
 *
 * BAP Stylesheet
*/

#bap-content {
    border: 2px solid #DFDFDF;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.bap-objectives {
    border-bottom: 2px solid #DFDFDF;
    padding: 0.5em 0 0.5em 1em;
}

.bap-objectives:hover {
}

.bap-objectives a {

}

.bap-objective,
.target-description {
    margin: 0.5em 2.2em 0em 1em;
    background-color: #FAFAFA;
    padding: 0;
}

.target-description,
.objective-description {
    display: block;
    width: auto;
    margin: 0 !important;
    padding: 10px !important;
    text-indent: 0 !important;
    border: 1px solid #EFEFEF;
}

.objective-description {
    margin-top: 15px !important;
}

.bap-objective-title {
    color: #4B4742 !important;
}

.bap-objective-title a.inactive {
    background: transparent url('/misc_/BAPDatabase/up.png') no-repeat left center;
}

.bap-objective-title a.active {
    background: transparent url('/misc_/BAPDatabase/down.png') no-repeat left 55%;
}

.bap-objective-title a {
    background: transparent url('/misc_/BAPDatabase/down.png') no-repeat left 55%;
    outline: none;
    padding-left: 1em;
    font-size: 1.2em;
    line-height: 1.2em;
    vertical-align: middle;
}

.bap-objective-title span {
    vertical-align: middle;
    font-size: 1.1em;
    line-height: 1.1em;
    margin-left: 0.5em;
    font-style: italic;
}

.bap-objective-title span:hover {
    cursor: pointer;
}

.bap-headline,
.objective-description {
    background-color: #F4FFE0;
    border-bottom: 1px dotted #D6D6D6;
    text-align: left;
    text-indent: 1em;
    padding: 0.5em 0em 0.5em 1em;
    padding-left: 1em;
}

.bap-target {
    margin-top: 1em;
    border-bottom: 1px solid #EFEFEF;
    padding: 0em 1em 0.5em 1em;
}

.bap-target span {

}

.bap-target:last-child {
    border: none;
}

.bap-actions {
}

.bap-target span a {
    background: transparent url('/misc_/BAPDatabase/bullet_orange.png') no-repeat left center;
}

.bap-target span a,
.bap-action span a {
    padding-left: 20px;
    padding-bottom: 3px;
    vertical-align: middle;
}

.collapse .target-link,
.target-link.collapse,
.collapse .action-link,
.action-link.collapse {
    background: transparent url('/misc_/BAPDatabase/collapse.png') no-repeat left center !important;
}

.expand .target-link,
.target-link.expand,
.expand .action-link,
.action-link.expand {
    background: transparent url('/misc_/BAPDatabase/expand.png') no-repeat left center !important;
}

.goto-action {
    background: none !important;
    padding: 0 !important;
}
.bap-action {
    background-color: #FFFFFF;
    border: 1px solid #EFEFEF;
    padding: 1em;
    margin: 1em 0 1em 0em;
    -moz-box-shadow: 2px 2px 7px #DFDFDF;
    -webkit-box-shadow: 2px 2px 7px #DFDFDF;
    box-shadow: 2px 2px 7px #DFDFDF;
    clear: both;
}

.bap-mop-content {
    margin-left: 0;
}

.bop-mop-year {
    font-weight: bold;
    margin-bottom: 5px;
}

.bop-mop-progress {
    border: 1px solid #DFDFDF;
    padding: 10px;
}

.loading-indicator {
    height: 80px;
    width: 80px;
    background: url('/misc_/BAPDatabase/ajax-loader.gif');
    background-repeat: no-repeat;
    background-position: center center;
}

.loading-indicator-overlay {
    background-color: #FFFFFF;
    opacity: 0.6;
    filter: alpha(opacity = 60);
}

select.compare-select {
    border: 1px solid #BABBB8;
    background-color: #FAFAFA;
    padding: 2px;
    min-width: 150px;
}

#compare-form table td.label {
    vertical-align: top;
}

/**
 * Compare tabs
*/

.ui-tabs-nav {
    z-index: 2;
}

.ui-tabs-panel {
    z-index: 1;
}

.compare-tabs ul {
    list-style: none;
    clear: both;
    padding: 0 !important;
    margin: 0 !important;
    
}

.compare-tabs ul li {
    list-style: none;
    list-style-image: none;
    float: left;
    margin-right: 3px;
}

.compare-tabs ul li a {
    border: 1px solid #4CA6D6;
    background-image: none !important;
    background-color: #F2F2F2;
    padding: 5px;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 3px 3px 0 0;
       -moz-border-radius: 3px 3px 0 0;
            border-radius: 3px 3px 0 0;
    text-decoration: none;
    color: #333333;
    font-size: 11px;
}

.compare-tabs ul li.current a,
.ui-state-active a {
    background-color: #E4F1F9 !important;
    padding:  7px !important;
    position: relative;
    top: -2px;
}

.ui-state-active a {
    border-bottom: 1px solid #E4F1F9 !important;
}

.compare-tabs ul li a:hover {
    position: relative;
    border: 1px solid #BABBB8;
    background: #E4F1F9 !important;
}

#compare-form select.multiple-select {
    height: 70px;
}

.compare-form-holder {
    border: 1px solid #DFDFDF;
    background-color: #E7F3FB;
    padding: 15px;
    -webkit-box-shadow: 3px 3px 3px #EFEFEF;
       -moz-box-shadow: 3px 3px 3px #EFEFEF;
            box-shadow: 3px 3px 3px #EFEFEF;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    /*width: 700px;*/
    width: 865px;
}

.compare-form-holder form#compare-form {
    float: left;
}

/*
.datatable, .datatable th, .datatable td {
    word-break: break-all;
    word-wrap: break-word;
    text-align: justify;
}
*/

.compare-form-holder p {
    font-size: 13px;
    font-weight: bold;
    border-bottom: 1px solid #BABBB8;
    padding-bottom: 15px;
}

.fields-holder {
    float: left;
    margin-right: 25px;
}

.field {
    margin-right: 25px;
}

.switch-compare {
    background: url("/misc_/BAPDatabase/side-by-side.png") no-repeat scroll left 2px transparent;
    padding-bottom: 3px;
    padding-left: 20px;
    vertical-align: middle;
    text-decoration: none;
}

.compare-tabs.single {
    width: 430px;
    margin-right: 5px;
    position: relative;
}

.country-profile-title {
    display: block;
    clear: both;
}


.country-compare-button {
    float: right;
    text-decoration: none;
    font-size: 11px;
    font-family: Arial, sans-serif;
    border: 1px solid #BABBB8;
    background: #F2F2F2;
    color: #8F68DA !important;
    padding: 3px 5px;
    clear: both;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    font-weight: bold;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    text-shadow: 1px 1px 0 #FFFFFF;
    -webkit-box-shadow: 0px 0px 3px #C6C6C6;
       -moz-box-shadow: 0px 0px 3px #C6C6C6;
            box-shadow: 0px 0px 3px #C6C6C6;
}

.country-compare-button:hover {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

.help {
    font-size: 0.8em;
}
.section-bap #content .ui-state-default a,  
.section-bap #content .ui-state-default a:link {
    color: #000 !important;
}