#folderlisting-main-table .not-available-in-language {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter:alpha(opacity=80);
  -moz-opacity:0.8;
  -khtml-opacity:0.8;
  opacity:0.8;
}

#folderlisting-main-table .not-available-in-language:hover {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter:alpha(opacity=100);
  -moz-opacity:1;
  -khtml-opacity:1;
  opacity:1;
}

#folderlisting-main-table .not-available-in-language a:after {
  content:"*";
  color:#f55;
  font-weight:bold;
}

#folderlisting-main-table .not-available-in-language td:first-child a:after {
  display:none;
}
