/* ticketref css for ticket.html */
.tref-clickable {
    cursor: pointer;
}

a.tref-link {
    background: none repeat scroll 0 0 transparent;
    border: 1px outset #CCCCCC;
    border-style: dotted;
    border-width: 1px;
    color: #222222;
    float: right;
    font-size: .9em;
    margin: 0 .2em;
    padding: .1em;
}

span.tref-display-none {
    display: none;
}
