[buildout]
extends = versions/versions.cfg
parts =
    doc
    test
develop = .
allow-picked-versions = false

[doc]
recipe = zc.recipe.egg
eggs = gocept.package [doc]
       gocept.recordserialize
scripts = doc

[test]
recipe = zc.recipe.testrunner
eggs = gocept.recordserialize [test]
