.facebook-this{
    position:relative;
    top:0px;
    margin:0;
    padding:0px 0px 0px 0px;
    width:auto;
    height:18px;
    max-height:18px;
    overflow:hidden;
    display:inline-block;
    border:1px solid #cad4e7;
    border-radius:3px;
    background:url(../i/facebook.png) no-repeat 1px 1px #eceef5;
    line-height: 1.28;
}
.facebook-this a{
    display: inline-block;
    margin-top: 3px;
    text-decoration:none;
    padding-left:20px;
    padding-right:3px;
    color: #3b5998;
    font-family: 'Helvetica Neue', Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 11px;
}
.tweet-this{
    display:inline-block;
}
.tweet-this a{
    display: inline-block;
}