/* hide the Products.ContentWellPortlets management links */
.manageInHeaderPortletsLink,
.managePortletsAboveLink,
.managePortletsBelowLink,
.manageFooterPortletsLink
{
    display: none !important;
}


/* style the report */
#reflist-report h1 {
    font-size: 2em;
}

#reflist-report h2 {
    border-bottom: 1px solid #444444;
    font-size: 1.5em;
    margin-bottom: 0.5em;
    margin-top: 3em;
    padding-top: 0.5em;
}

#reflist-report h2:nth-of-type(1) {
    margin-top: 1em;
    padding-top: 0;
}

#reflist-report h3 {
    font-size: 1.3em;
}

#reflist-report .small {
    font-size: 0.7em;
}

#reflist-report dl {
    margin-left: 2em;
}

#reflist-report dd > ul {
    margin-left: 1em;
}


/* style the report options */
h1.documentFirstHeading > a {
    font-size: 0.5em;
    letter-spacing: normal;
    margin-left: 2em;
    vertical-align: top;
}

#options-dialog ul {
    list-style-type: none;
    margin: 0.5em 0 1.5em 2em;
}

#options-dialog a.selectAll {
    font-size: 0.8em;
    margin-left: 2em;
    vertical-align: top;
}
