######################
## FigureLayoutBase ##
######################

[backend]
# the name of backend
name = GTKAgg


[figure]
# size of paper/picture for figure in milimeters
size = 297, 210
#size = 300, 100
# dpi of picture
dpi = 300
# border of figure in milimeters
border = 5


[axes]
# Size of font for axes ticks in points (1/72 inch = 0.35 mm)
tickFontSize = 6
# space for tick labels in milimeters for x and y axis
tickLabelSpace = 7, 10
# orientation of x and y axis
#axesOri = en
# scale ratio of axes
# number or auto
scale = auto


[pointDotStyle]
marker = o
markersize = 5
markerfacecolor = red
markeredgewidth = 1
markeredgecolor = black
alpha = 1.0


[pointLabelStyle]
fontsize = medium
fontstyle = normal
fontweight = normal
verticalalignment = top
horizontalalignment = left


[pointLabelOffset]
x =  5 ;points (1/72inch)
y = -5 ;points 


# plotting style for fixed point
[pointFixDotStyle]
marker = ^
markersize = 5
markerfacecolor = red
markeredgewidth = 1
markeredgecolor = black
alpha = 1.0


[pointFixLabelStyle]
fontsize = medium
fontstyle = normal
fontweight = normal
verticalalignment = top
horizontalalignment = left


# plotting style for adjusted point
[pointAdjDotStyle]
marker = o
markersize = 5
markerfacecolor = blue
markeredgewidth = 1
markeredgecolor = black
alpha = 1.0


[pointAdjLabelStyle]
fontsize = medium
fontstyle = normal
fontweight = normal
verticalalignment = top
horizontalalignment = left


# plotting style for constrained point
[pointConDotStyle]
marker = s
markersize = 5
markerfacecolor = green
markeredgewidth = 1
markeredgecolor = black
alpha = 1.0

[pointConLabelStyle]
fontsize = medium
fontstyle = normal
fontweight = normal
verticalalignment = top
horizontalalignment = left


#[errorEllipse]
# scale ratio of error ellipse
# if [axes] scale is auto scale ratio is relative
#ellScale = 1


[errorEllipseStyle]
facecolor = blue
edgecolor = blue
alpha = 0.3
zorder = -100

[errorEllipsePassedStyle]
facecolor = green
edgecolor = green
alpha = 0.3
zorder = -100

[errorEllipseFailedStyle]
facecolor = red
edgecolor = red
alpha = 0.3
zorder = -100


[stdevStyle]
linestyle = solid
linewidth = 10
alpha = 0.3
color = green
marker = 
zorder =-100

[errorZ]
linestyle = solid
linewidth = 20
alpha = 0.3
color = blue
marker = 
zorder =-110


###########################
## FigureLayoutEpochList ##
###########################

[title]
# height of figure title in milimeters
height = 20
# font size for title in points (1/72 inch = 0.35 mm)
fontSize = 18


[subTitle]
# font size for subtitle in points (1/72 inch = 0.35 mm)
fontSize = 12


[comment]
# font size for comments in points (1/72 inch = 0.35 mm)
fontSize = 7

# content of comment
# keywords:
#	figScale - scale factor of figure
#	displScale - scale factor of displacements
#	axesOri - orientation of axes
#	coordSystem - system of coordinates
#       ellipsoid - ellipsoid name
#	confProb - confidence probability 0-1
#	stdevUse - used standart deviation
#       testType - type of test used

#content = figScale, displScale, coordSystem, ellipsoid
content = figScale, displScale, coordSystem, stdevUse, confProb

[figScale]
label = Figure Scale
[displScale]
label = Displ. Scale
[axesOri]
label = Axes ori
[coordSystem]
label = System
[ellipsoid]
label = Ellipsoid
[confProb]
label = Conf. prob.


[legend]
# width of legend in milimeters
width = 35
# legend title
title = Epochs
# size of title font in points (1/72 inch = 0.35 mm)
titleFontSize = 10
# fontSize of labels in points (1/72 inch = 0.35 mm)
fontSize = 8
# legend labels
# date: plot date
# datetime: plot date and time -- not implemented --
label = date

[colorMap]
name = hot

[displacementStyle]
linestyle = -
linewidth = 1
alpha = 1
color = black
zorder = -10

[displacementNoneStyle]
linestyle = :
linewidth = 1
alpha = 1
color = black
zorder = -10
