div.post {
  width: 90%;
  margin-bottom: 2em;
}

div.post h1, div.blogentry_title h1{
  font-size: 1.7em;
  position: relative;
  border-bottom: none;
  font-weight: normal;
}

h3.title {
  font-size: 1.0em;
}
div.post div.postmetadata {
  background:transparent url(postdatabg.jpg) no-repeat scroll left bottom;
  font-size: 0.98em;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-top: 10px;
  margin-bottom:1.5em;
}

div.post div.entry {
  margin-left: 10px;
  margin-top: 25px;
  padding-top: 5px;
}
div.blogentry_title, div.blogwrapper {
  font-family: "Palatino Linotype", Calluna-Exljbris, Georgia, "Times New Roman", Times, serif;
  max-width:56em;
  font-size:120%;
}
div.blogwrapper ul li {
    padding-left:24px;
    background:url(arrowalt.png) no-repeat left 2px;
}
div.blogwrapper img {
    margin: 20px;
}
div.blogwrapper p {
    padding-top: 10px;
}
div.blogwrapper pre {
  font-family: Consolas, Monaco, "Courier New", Courier, monospace;
  white-space: pre-wrap;
 }
div.blogwrapper h3,
div.entry h3 {
    font-size:105%;
}
div.post div.entry p {
  margin-bottom:1.5em;
}

div.post small {
  font-size: 80%;
  color:#949494;
  display: block;
  margin-left: 2em;
  margin: 0em 0em 1em 1em;
}

ul.invisible li {
  background: none;
}

ul.simple li {
  background: transparent url(bullet_orange.png) no-repeat scroll 0 6px;
}

span.previousmonth {
  float:left;
}

span.nextmonth {
  float:right;
}

div.author_date div{
  float:right;
  padding-top: 3px;
  color: #999999;
}

div.author_date {
  font-size:1.2em;
  font-style:italic;
  border-top-style: ridge;
  border-top-color: #CCC;
  border-top-width: thin;
}

/*div.blogentry_title h1{
  font-size: 1.7em;
  position: relative;
  border-bottom: none;
  font-weight: normal;
}*/

div.blogentry_title {
  padding: 0px 0px 15px 0px;
}

div.microblog {
  clear: both;
}

div.microblog span.author {
  margin: 0 10px 5px 0;
  float: left;
}

div.microblog span.msgtxt {
  margin: 0 0 10px 0;
}

div.microblog span.meta {
  color: #999;
  display: block;
}

div.microblog span.meta a {
  color: #999;
}