/* line 2, ../sass/footer.sass */
#ground {
  background: #fafafa;
  border: 0;
  font-family: Arial;
  font-size: 12px;
  max-width: 960px;
}

/* line 9, ../sass/footer.sass */
.footer-links a, .copyright a, .powered-link a {
  color: #2b7fcf;
}
