/* line 2, ../sass/slideBar.sass */
.box h2 {
  background: none;
  text-align: center;
  font-family: Arial;
  font-size: 14px !important;
  font-weight: bold;
  color: #333333;
  border-bottom: #a7a7a7 1px solid;
  height: 25px;
  line-height: 25px;
}
/* line 12, ../sass/slideBar.sass */
.box .contributorback {
  background: none;
}
/* line 14, ../sass/slideBar.sass */
.box h3 {
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
}

/* line 18, ../sass/slideBar.sass */
#displayTagFilterControl p label {
  font-family: Arial;
  font-size: 13px;
}

/* line 22, ../sass/slideBar.sass */
.question-page .vote-buttons {
  margin: 0 0 0 10px;
}
/* line 24, ../sass/slideBar.sass */
.question-page .vote-buttons .notify-sidebar label {
  font-family: Arial;
  font-size: 11px;
  line-height: 1.1;
}
/* line 29, ../sass/slideBar.sass */
.question-page .box.vote-buttons {
  margin-left: 0;
}
/* line 31, ../sass/slideBar.sass */
.question-page p.rss a {
  font-family: Arial;
  font-size: 11px;
}
