.embedwidget {font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;}
.embeditem {clear: left; margin-bottom: 1em;}
.embeditem h4 {margin: 0 0 0.3em 120px; padding-top: 0.2em; font-size: 1.05em; font-weight: normal;}
.embeditem a {text-decoration: none; color: #205C90; border-bottom: 1px dotted #CCC;}
.embeditem a:focus, .embeditem a:hover {color: #000; border-bottom: 1px solid #666;}
.embeditem .embedimage {float: left; max-width: 100px; max-height: 100px; margin: 0;}
.embeditem .embedimage img {width: 100%;}
.embeditem .embedbody { font-size: 0.9em; margin-left: 120px;}
.embeditem .embedbody:after {clear: both; content:""; line-height: 0; display: table;}
