#content #tinyurl .tinybtn {
    border: 1px solid #337ca1;
    box-shadow: inset 0 1px 2px #6eb0d1;
    background-color: #337CA1;
    background-image: -webkit-linear-gradient(top, #5ba5cb, #3d94c0);
    color: #fff;
    padding: 2px 5px;
    display: block;
    border-radius: 2px 2px 2px 2px;
}

#content #tinyurl .tinybtn:hover {
    color: #fff !important;
    border: 1px solid #000;
}

#content #tinyurl-last-five{
    border-top: 1px solid #337ca1;
    margin-top: 10px;
}

#content #tinyurl form {
    padding: 2px 5px;
    border-radius: 0px 0px 2px 2px;
    margin: 5px 0px;
}

#content #tinyurl label {
    display: block;
}

#content #tinyurl-hash,
#content #tinyurl-message {
    border: 1px solid #de7e6d;
    background: #e8a397;
    padding: 5px 10px 0px 10px;
    color: #7d2a1c;
    border-radius: 2px 2px 2px 2px;
}

#content #tinyurl-hash {
    border: 1px solid #a8c3dc;
    background: #ccdcea;
    color: #3c6a95;
    margin: 10px 0px;
}
