# aws.pdfbook development buildout
# ================================
# $Id: buildout.cfg 117340 2010-05-12 09:15:25Z glenfant $
[buildout]
extensions = mr.developer
parts =
    zope2
    productdistros
    instance
    zopepy
    test
    omelette

unzip = true

# Change the number here to change the version of Plone being used
extends = 
    http://dist.plone.org/release/3.3.5/versions.cfg
versions = versions


# Add additional egg download sources here. dist.plone.org contains archives
# of Plone packages.
find-links =
    http://dist.plone.org/release/3.3.5
    http://dist.plone.org/thirdparty

# Add additional eggs here
eggs =
    aws.pdfbook
    Products.DocFinderTab
    Products.Clouseau

download-cache = downloads
extends-cache = downloads
eggs-directory = eggs

sources = sources
auto-checkout = aws.pdfbook

[versions]
# See https://bugs.launchpad.net/zopetoolkit-project/+bug/257657
zope.i18nmessageid = 3.5.1

[sources]
aws.pdfbook = svn https://svn.plone.org/svn/collective/aws.pdfbook/trunk

[zope2]
recipe = plone.recipe.zope2install
fake-zope-eggs = true
url = ${versions:zope2-url}

[productdistros]
recipe = plone.recipe.distros
urls =
nested-packages =
version-suffix-packages =

[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
user = gilles:gilles
http-address = 8080
#debug-mode = on
#verbose-security = on
eggs =
    Plone
    ${buildout:eggs}

# If you want to register ZCML slugs for any packages, list them here.
# e.g. zcml = my.package my.other.package
zcml =

products =
    ${buildout:directory}/products
    ${productdistros:location}

environment-vars =
    PTS_LANGUAGES en fr

zope-conf-additional =
    <product-config pdfbook>
    # Full path to "recode" executable
    recode-bin /opt/local/bin/recode
    # Full path to "htmldoc" executable
    htmldoc-bin /opt/local/bin/htmldoc
    # Your site charset
    site-charset utf-8
    </product-config>

[zopepy]
# For more information on this step and configuration options see:
# http://pypi.python.org/pypi/zc.recipe.egg
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
extra-paths = ${zope2:location}/lib/python
scripts = zopepy

[test]
recipe = zc.recipe.egg
eggs =
    ${instance:eggs}
    ${buildout:eggs}
    plone.recipe.zope2instance
extra-paths =
    ${zope2:location}/lib/python
    ${instance:location}/lib/python
entry-points =
    test=plone.recipe.zope2instance.ctl:main
arguments = ["-C", "${instance:location}/etc/zope.conf", "test", "--nowarning", "-s", "${buildout:auto-checkout}", "--keepbytecode"]

[omelette]
recipe = collective.recipe.omelette
location = ${buildout:directory}/omelette
eggs = ${instance:eggs}
products = ${instance:products}
packages = ${zope2:location}/lib/python ./
