
.stats-important {
  font-size: 28px;
  font-weight: 200;
  line-height: 30px;
}


.muted {
  color: #999999;
}

a.muted:hover,
a.muted:focus {
  color: #808080;
}


.hero-unit {
  padding: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.hero-unit h1 {
  margin-bottom: 0;
  font-size: 30px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
}

.hero-unit li {
  line-height: 30px;
}

