td.linenos { background-color: #f0f0f0; padding-right: 10px; }
span.lineno { background-color: #f0f0f0; padding: 0 5px 0 5px; }
pre { line-height: 125%; }
body .hll { background-color: #ffffcc }
body  { background: #111111; }
body .c { color: #00c8ff } /* Comment */
body .err { color: #ffffff; background-color: #ff0000 } /* Error */
body .k { color: #ff0000 } /* Keyword */
body .n { color: #00d300 } /* Name */
body .o { color: #007300 } /* Operator */
body .p { color: #b1f603 } /* Punctuation */
body .c-AllCics { color: #901060 } /* Comment.AllCics */
body .c-AllDli { color: #901060 } /* Comment.AllDli */
body .c-AllSql { color: #900060 } /* Comment.AllSql */
body .c-CicsExec { color: #9609e9 } /* Comment.CicsExec */
body .c-Continuation { color: #9609e9 } /* Comment.Continuation */
body .c-Debug { color: #0000c9 } /* Comment.Debug */
body .c-DliExec { color: #9609e9 } /* Comment.DliExec */
body .c-Invisible { color: #252525 } /* Comment.Invisible */
body .c-Keyword { color: #00c8ff; text-decoration: underline } /* Comment.Keyword */
body .c-MargeLeft { color: #fcff70 } /* Comment.MargeLeft */
body .c-MargeRight { color: #fcff70 } /* Comment.MargeRight */
body .cm { color: #00c8ff } /* Comment.Multiline */
body .cp { color: #00c8ff } /* Comment.Preproc */
body .c1 { color: #00c8ff } /* Comment.Single */
body .cs { color: #00c8ff } /* Comment.Special */
body .c-SqlExec { color: #9609e9 } /* Comment.SqlExec */
body .k-Builtin { color: #9609e9 } /* Keyword.Builtin */
body .k-Cics { color: #fc3000 } /* Keyword.Cics */
body .kc { color: #ff0000 } /* Keyword.Constant */
body .kd { color: #ff0000 } /* Keyword.Declaration */
body .k-Dli { color: #fc3000 } /* Keyword.Dli */
body .kn { color: #ff0000 } /* Keyword.Namespace */
body .kp { color: #ff0000 } /* Keyword.Pseudo */
body .kr { color: #ff0000 } /* Keyword.Reserved */
body .k-Sql { color: #933493 } /* Keyword.Sql */
body .kt { color: #ff0000 } /* Keyword.Type */
body .m { color: #f9f821 } /* Literal.Number */
body .s { color: #ffffff } /* Literal.String */
body .na { color: #00d300 } /* Name.Attribute */
body .nb { color: #00d300 } /* Name.Builtin */
body .n-Cics { color: #fc9b00 } /* Name.Cics */
body .nc { color: #00d300 } /* Name.Class */
body .n-CompileOpts { color: #ff0000; font-weight: bold } /* Name.CompileOpts */
body .no { color: #00d300 } /* Name.Constant */
body .nd { color: #00d300 } /* Name.Decorator */
body .n-Division { color: #ff0000; font-weight: bold; text-decoration: underline } /* Name.Division */
body .n-Dli { color: #fc9b00 } /* Name.Dli */
body .ni { color: #00d300 } /* Name.Entity */
body .ne { color: #00d300 } /* Name.Exception */
body .nf { color: #900090 } /* Name.Function */
body .nl { color: #00d300 } /* Name.Label */
body .n-LabelRef { color: #00f300 } /* Name.LabelRef */
body .nn { color: #00d300 } /* Name.Namespace */
body .nx { color: #00d300 } /* Name.Other */
body .n-Paragraphe { color: #00d300; text-decoration: underline } /* Name.Paragraphe */
body .py { color: #00d300 } /* Name.Property */
body .n-Section { color: #ff0000; text-decoration: underline } /* Name.Section */
body .n-Sql { color: #d898f4 } /* Name.Sql */
body .nt { color: #00d300 } /* Name.Tag */
body .nv { color: #00d300 } /* Name.Variable */
body .o-Cics { color: #00d300 } /* Operator.Cics */
body .o-Dli { color: #00d300 } /* Operator.Dli */
body .o-Sql { color: #933493 } /* Operator.Sql */
body .ow { color: #007300 } /* Operator.Word */
body .p-Cics { color: #b1f603 } /* Punctuation.Cics */
body .p-Dli { color: #b1f603 } /* Punctuation.Dli */
body .p-Sql { color: #b1f603 } /* Punctuation.Sql */
body .-Scrubol { color: #555555; font-style: italic } /* Text.Scrubol */
body .-ScrubolDoc { color: #dcdcdc } /* Text.ScrubolDoc */
body .-ScrubolTag { color: #ffffff; background-color: #444444; border: 1px solid #777777 } /* Text.ScrubolTag */
body .-ScrubolTagDoc { color: #ffffff; background-color: #444444; border: 1px solid #777777 } /* Text.ScrubolTagDoc */
body .-ScrubolTagWarn { color: #ffffff; background-color: #ff0000; border: 1px solid #ff0000 } /* Text.ScrubolTagWarn */
body .-ScrubolWarn { color: #555555; font-style: italic } /* Text.ScrubolWarn */
body .-Tag { color: #ffffff; background-color: #9609e9; border: 1px solid #777777 } /* Text.Tag */
body .mf { color: #f9f821 } /* Literal.Number.Float */
body .mh { color: #f9f821 } /* Literal.Number.Hex */
body .mi { color: #f9f821 } /* Literal.Number.Integer */
body .mo { color: #f9f821 } /* Literal.Number.Oct */
body .sb { color: #ffffff } /* Literal.String.Backtick */
body .sc { color: #ffffff } /* Literal.String.Char */
body .sd { color: #ffffff } /* Literal.String.Doc */
body .s2 { color: #ffffff } /* Literal.String.Double */
body .se { color: #ffffff } /* Literal.String.Escape */
body .sh { color: #ffffff } /* Literal.String.Heredoc */
body .si { color: #ffffff } /* Literal.String.Interpol */
body .sx { color: #ffffff } /* Literal.String.Other */
body .sr { color: #ffffff } /* Literal.String.Regex */
body .s1 { color: #ffffff } /* Literal.String.Single */
body .ss { color: #ffffff } /* Literal.String.Symbol */
body .bp { color: #00d300 } /* Name.Builtin.Pseudo */
body .vc { color: #00d300 } /* Name.Variable.Class */
body .vg { color: #00d300 } /* Name.Variable.Global */
body .vi { color: #00d300 } /* Name.Variable.Instance */
body .il { color: #f9f821 } /* Literal.Number.Integer.Long */
