/* line 4, ../sass/questionPage.sass */
.question-page h1 a {
  font-family: Arial;
  font-size: 0.85em;
  line-height: 25px;
}
/* line 9, ../sass/questionPage.sass */
.question-page .post-controls a:hover {
  background-color: #e9f7ff;
}

/* line 11, ../sass/questionPage.sass */
.share-question, #fmanswer h2 {
  font-size: 0.95em;
  font-family: Arial;
  color: black;
}

/* line 15, ../sass/questionPage.sass */
#questionCount {
  color: #333333;
  font-family: Arial;
  font-size: 0.95em;
  padding-top: 8px;
}

/* line 20, ../sass/questionPage.sass */
.section-title {
  color: black;
  font-family: Arial;
  font-size: 18px;
}

/* line 24, ../sass/questionPage.sass */
.scoreNumber, .count {
  font-family: Arial;
  font-size: 0.95em;
}

/* line 28, ../sass/questionPage.sass */
.user-profile-page h2 {
  font-family: Arial;
  font-size: 18px;
}

/* line 31, ../sass/questionPage.sass */
#id_email, #id_username, #id_password,
#askFormBar .questionTitleInput,
#id_summary, #id_title, #id_tags,
.wmd-container {
  border: 3px solid #dfdfdf;
}

/* line 36, ../sass/questionPage.sass */
#editor {
  border: none;
}

/* line 39, ../sass/questionPage.sass */
#main-wrapper-question {
  margin-top: 20px;
}

@media only screen and (max-width: 650px) {
  /* line 42, ../sass/questionPage.sass */
  #questionCount {
    font-size: 13px;
  }

  /* line 44, ../sass/questionPage.sass */
  .question-page .question-body p, .question-page .answer-body p {
    font-size: 1em;
  }

  /* line 48, ../sass/questionPage.sass */
  .question-page h1 a {
    font-family: Arial;
    font-size: 0.8em;
  }
}
@media only screen and (max-width: 440px) {
  /* line 52, ../sass/questionPage.sass */
  .ask-page #id_post_author_email, .question-page #id_post_author_email, .edit-question-page #id_post_author_email, .edit-answer-page #id_post_author_email {
    margin-left: 0;
  }

  /* line 54, ../sass/questionPage.sass */
  .question-page .post-controls a {
    font-size: 0.8em;
  }
}
/* line 57, ../sass/questionPage.sass */
.question-page #comment-title {
  font-size: 1.2em;
}

/* line 59, ../sass/questionPage.sass */
.question-page .comments .comment-body {
  font-size: 0.9em;
}
/* line 61, ../sass/questionPage.sass */
.question-page .comments .comment-body p {
  font-size: 0.95em;
}

/* line 63, ../sass/questionPage.sass */
.question-page #fmanswer h2, body p, .question-page #fmanswer label {
  font-size: 0.9em;
}
