/* line 2, ../sass/questionContent.sass */
.tabBar {
  background-color: #f2f4f7;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f2f4f7), color-stop(60%, #f2f4f7), color-stop(100%, #d9e2f1));
  background-image: -webkit-linear-gradient(top, #f2f4f7, #f2f4f7 60%, #d9e2f1);
  background-image: -moz-linear-gradient(top, #f2f4f7, #f2f4f7 60%, #d9e2f1);
  background-image: -o-linear-gradient(top, #f2f4f7, #f2f4f7 60%, #d9e2f1);
  background-image: linear-gradient(top, #f2f4f7, #f2f4f7 60%, #d9e2f1);
  font-family: Arial;
  font-size: 13px;
  border-bottom: #a4b2bf 1px solid;
}

/* line 10, ../sass/questionContent.sass */
.tabsA a, .tabsC a {
  color: #184774;
}
/* line 14, ../sass/questionContent.sass */
.tabsA a.on, .tabsC a.on {
  color: #184774;
}

/* line 16, ../sass/questionContent.sass */
.rss {
  font-family: Arial;
  font-size: 15px;
}

/* line 19, ../sass/questionContent.sass */
#questionCount {
  color: black;
  font-family: Arial;
  font-size: 20px;
}

/* line 23, ../sass/questionContent.sass */
.search-tips {
  font-family: Arial;
  font-size: 13px;
}

/* line 26, ../sass/questionContent.sass */
#listSearchTags {
  font-family: Arial;
  font-size: 14px;
}

/* line 29, ../sass/questionContent.sass */
.short-summary {
  background: url("../images/summary.png") no-repeat left top;
  border-bottom: 0;
  padding-left: 10px;
}
/* line 33, ../sass/questionContent.sass */
.short-summary h2 {
  font-family: Arial;
  font-size: 1.5em;
  *width: 500px;
}
/* line 37, ../sass/questionContent.sass */
.short-summary a {
  color: #2f4161;
  font-weight: bold;
}
/* line 40, ../sass/questionContent.sass */
.short-summary .counts {
  *width: 200px;
  *height: 80px;
}
/* line 43, ../sass/questionContent.sass */
.short-summary .counts .item-count {
  font-family: Arial;
  font-size: 16px;
}
/* line 47, ../sass/questionContent.sass */
.short-summary .counts .votes div, .short-summary .counts .views div, .short-summary .counts .answers div, .short-summary .counts .favorites div {
  font-size: 11px;
  font-family: Arial;
}

/* line 53, ../sass/questionContent.sass */
.paginator .next a, .paginator .prev a, .paginator .page a {
  color: #2b7fcf;
}
/* line 56, ../sass/questionContent.sass */
.paginator .page a:visited {
  color: #2b7fcf;
}
/* line 58, ../sass/questionContent.sass */
.paginator .curr {
  color: white;
  background: #2b7fcf;
}

/* line 63, ../sass/questionContent.sass */
.evenMore a {
  color: #2b7fcf;
  text-decoration: underline;
}

/* line 68, ../sass/questionContent.sass */
.question-page .question-content {
  margin: 0 1%;
  width: 90%;
  float: left;
}

/* line 73, ../sass/questionContent.sass */
.question-page #question-table, .question-page .answer-table {
  width: 100%;
}

/* line 75, ../sass/questionContent.sass */
#questionCount {
  width: auto;
}

/* line 77, ../sass/questionContent.sass */
#main-body {
  max-width: 960px;
}
/* line 79, ../sass/questionContent.sass */
#main-body:after {
  clear: both;
  content: "";
  display: block;
}

@media only screen and (max-width: 1000px) {
  /* line 84, ../sass/questionContent.sass */
  .short-summary, #ContentLeft {
    width: 715px;
  }
}
@media only screen and (max-width: 980px) {
  /* line 87, ../sass/questionContent.sass */
  .short-summary, #ContentLeft {
    width: 700px;
  }
}
@media only screen and (max-width: 960px) {
  /* line 90, ../sass/questionContent.sass */
  .short-summary, #ContentLeft {
    width: 690px;
  }
}
@media only screen and (max-width: 950px) {
  /* line 93, ../sass/questionContent.sass */
  .short-summary, #ContentLeft {
    width: 670px;
  }
}
@media only screen and (max-width: 940px) {
  /* line 96, ../sass/questionContent.sass */
  .short-summary, #ContentLeft {
    width: 660px;
  }
}
@media only screen and (max-width: 920px) {
  /* line 99, ../sass/questionContent.sass */
  .short-summary, #ContentLeft {
    width: 640px;
  }
}
@media only screen and (max-width: 900px) {
  /* line 102, ../sass/questionContent.sass */
  .short-summary, #ContentLeft {
    width: 630px;
  }
}
@media only screen and (max-width: 890px) {
  /* line 105, ../sass/questionContent.sass */
  .short-summary, #ContentLeft {
    width: 100%;
    padding-left: 0px;
  }

  /* line 108, ../sass/questionContent.sass */
  #ContentRight {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  /* line 112, ../sass/questionContent.sass */
  .short-summary h2 {
    font-size: 1.3em;
  }

  /* line 114, ../sass/questionContent.sass */
  #ContentLeft {
    margin-top: 0px;
  }
}
@media only screen and (max-width: 650px) {
  /* line 118, ../sass/questionContent.sass */
  .short-summary h2 {
    font-size: 1.1em;
  }

  /* line 120, ../sass/questionContent.sass */
  .short-summary, #ContentLeft {
    width: 95%;
  }
}
@media only screen and (max-width: 600px) {
  /* line 123, ../sass/questionContent.sass */
  .rss {
    visibility: hidden;
    position: absolute;
  }

  /* line 127, ../sass/questionContent.sass */
  .short-summary h2 {
    font-size: 1.3em;
  }

  /* line 129, ../sass/questionContent.sass */
  #sort_tabs {
    font-size: 12px;
  }

  /* line 131, ../sass/questionContent.sass */
  .post-update-info-container {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  /* line 134, ../sass/questionContent.sass */
  #sort_tabs {
    font-size: 11px;
  }

  /* line 136, ../sass/questionContent.sass */
  .question-page .question-content {
    width: 100%;
  }

  /* line 138, ../sass/questionContent.sass */
  .vote-buttons {
    display: none;
  }
}
@media only screen and (max-width: 450px) {
  /* line 142, ../sass/questionContent.sass */
  .short-summary h2 {
    font-size: 1.2em;
  }
}
/* line 145, ../sass/questionContent.sass */
.question-brief {
  font-size: 0.75em;
}
