.poll_answers {
    font-size: 14px;
    margin-bottom: 5px;
}

.poll_answers label {
    margin-left: 5px;
}

.poll-result-line {
    font-weight: bold;
    margin-bottom: 20px;
}

.poll-result-line p {
    margin-bottom: 2px;
}
     
.poll-result-line span {
    color: #999;
}

.poll-percentage-bar {
    height: 20px;
    background: #555;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    padding: 5px;
}

.poll-bar {
    height: 100%;
    -webkit-border-radius: 15px;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius: 15px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-radius: 15px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background: rgb(0,144,191);
    background: -moz-linear-gradient(top,  rgba(208,228,247,1) 0%, rgba(115,177,231,1) 24%, rgba(0,144,191,1) 50%, rgba(83,159,225,1) 79%, rgba(135,188,234,1) 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(208,228,247,1)), color-stop(24%,rgba(115,177,231,1)), color-stop(50%,rgba(0,144,191,1)), color-stop(79%,rgba(83,159,225,1)), color-stop(100%,rgba(135,188,234,1))); 
    background: -webkit-linear-gradient(top,  rgba(208,228,247,1) 0%,rgba(115,177,231,1) 24%,rgba(0,144,191,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%); 
    background: -o-linear-gradient(top,  rgba(208,228,247,1) 0%,rgba(115,177,231,1) 24%,rgba(0,144,191,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%); 
    background: -ms-linear-gradient(top,  rgba(208,228,247,1) 0%,rgba(115,177,231,1) 24%,rgba(0,144,191,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%); 
    background: linear-gradient(to bottom,  rgba(208,228,247,1) 0%,rgba(115,177,231,1) 24%,rgba(0,144,191,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%); 
}
