
#toolbar{
 padding-bottom: 10px;
 }

#header-right li{
 list-style-type: none;
 }

.navbar a.navbar-brand {
    display: block;
    padding: 15px 20px;
}

div#header-center {
    padding: 0 0 0;
}

.navbar .nav > li > a {
   background: none;
}

div.facet div.facetTitle {
  background: none;
  font-weight: normal;
  border: none;

.facet{
 max-width: 80%;
 }

#focusLink{
 color: #FFFFFF;
}

.facetBody .ui-slider{
 width: 80%;
 margin-left: 10%;
 }

.btn-facet{
 margin-bottom: 10px !important;
}