#youtubevideo_player > iframe {
    width: 640px;
    height: 480px;
    border: none;
}

#youtubevideo_player {
    margin-bottom: 20px;
}

#youtubevideo_title {
    font-size: 20px;
    margin-bottom: 20px;
}

#youtubevideo_description {
    font-size: 12px;
}