[buildout]
extends = https://raw.github.com/collective/buildout.plonetest/master/test-4.3.x.cfg
package-name = collective.portlet.content
socket-timeout = 3
allow-hosts =
    *.python.org
    *.zope.org
    *.plone.org
    docutils.sourceforge.net
    prdownloads.sourceforge.net
    effbot.org

[versions]
#zc.buildout = 1.6.3
setuptools = 2.0.1
