/**
 * Styles for imaged event view
 */

td.eventImageContainer {
	text-align: center;
}

.eventImage {
    border: 1px solid #CCCCCC;
}

.eventDetails {
	max-width:40%;
}

#content .eventDetails table {
	margin-bottom: 0;
}
