/* line 5, ../sass/buttons.sass */
#askButton,
.box .inputs #interestingTagAdd,
.box .inputs #ignoredTagAdd,
.box a.followed,
.box a.follow,
#fmanswer input.submit,
.ask-page input.submit,
.edit-question-page input.submit,
.question-page .comments button,
#email-input-fs .submit-b,
#local_login_buttons .submit-b,
#password-fs .submit-b,
#openid-fs .submit-b,
.openid-signin input.submit,
.meta input.submit,
.users-page input.submit,
.user-profile-edit-page input.submit,
.user-profile-page input.submit,
.follow-toggle, .submit {
  border-radius: 0px;
  color: white;
  font-family: Arial;
  font-weight: bold;
  background-color: #67a5df;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #67a5df), color-stop(50%, #67a5df), color-stop(100%, #1f5e97));
  background-image: -webkit-linear-gradient(top, #67a5df, #67a5df 50%, #1f5e97);
  background-image: -moz-linear-gradient(top, #67a5df, #67a5df 50%, #1f5e97);
  background-image: -o-linear-gradient(top, #67a5df, #67a5df 50%, #1f5e97);
  background-image: linear-gradient(top, #67a5df, #67a5df 50%, #1f5e97);
  text-shadow: 0px 1px 1px #233b63;
  -moz-text-shadow: 0px 1px 1px #233b63;
  -webkit-text-shadow: 0px 1px 1px #233b63;
  -webkit-box-shadow: 0px 1px 0px #3a61a4;
  -moz-box-shadow: 0px 1px 0px #3a61a4;
  box-shadow: 0px 1px 0px #3a61a4;
}
/* line 17, ../sass/buttons.sass */
#askButton:hover,
.box .inputs #interestingTagAdd:hover,
.box .inputs #ignoredTagAdd:hover,
.box a.followed:hover,
.box a.follow:hover,
#fmanswer input.submit:hover,
.ask-page input.submit:hover,
.edit-question-page input.submit:hover,
.question-page .comments button:hover,
#email-input-fs .submit-b:hover,
#local_login_buttons .submit-b:hover,
#password-fs .submit-b:hover,
#openid-fs .submit-b:hover,
.openid-signin input.submit:hover,
.meta input.submit:hover,
.users-page input.submit:hover,
.user-profile-edit-page input.submit:hover,
.user-profile-page input.submit:hover,
.follow-toggle:hover, .submit:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #67a5df), color-stop(20%, #67a5df), color-stop(100%, #1f5e97));
  background-image: -webkit-linear-gradient(top, #67a5df, #67a5df 20%, #1f5e97);
  background-image: -moz-linear-gradient(top, #67a5df, #67a5df 20%, #1f5e97);
  background-image: -o-linear-gradient(top, #67a5df, #67a5df 20%, #1f5e97);
  background-image: linear-gradient(top, #67a5df, #67a5df 20%, #1f5e97);
}

/* line 41, ../sass/buttons.sass */
#askButton {
  width: 100%;
  height: 38px;
  line-height: 38px;
  margin-right: 18px;
  font-size: 0.9em;
}

/* line 50, ../sass/buttons.sass */
.box .inputs #interestingTagAdd, .box .inputs #ignoredTagAdd {
  font-size: 11px;
}
/* line 52, ../sass/buttons.sass */
.box a.follwed, .box a.follow {
  font-size: 14px;
}

/* line 55, ../sass/buttons.sass */
#fmanswer input.submit, .ask-page input.submit, .edit-question-page input.submit {
  font-size: 15px;
}
/* line 59, ../sass/buttons.sass */
.openid-signin input.submit, .meta input.submit, .users-page input.submit, .user-profile-edit-page input.submit, .user-profile-page input.submit {
  font-size: 13px;
}

/* line 66, ../sass/buttons.sass */
#email-input-fs .submit-b, #local_login_buttons .submit-b, #password-fs .submit-b, #openid-fs .submit-b {
  font-size: 13px;
}

@media only screen and (max-width: 500px) {
  /* line 73, ../sass/buttons.sass */
  #askButton {
    font-size: 0.7em;
    margin-right: 5px;
  }
}
