/* line 3, ../sass/header.sass */
body {
  font-size: 100%;
  padding: 0 2% 0 2% !important;
}

/* line 6, ../sass/header.sass */
#sub-sec-tmp {
  visibility: hidden;
  position: absolute;
}

/* line 10, ../sass/header.sass */
#sub-sec-4 {
  visibility: visible;
  position: relative;
}
@media only screen and (max-width: 800px) {
  /* line 10, ../sass/header.sass */
  #sub-sec-4 {
    visibility: hidden;
    position: absolute;
  }
}

/* line 17, ../sass/header.sass */
a {
  color: #2b7fcf;
}

/* line 20, ../sass/header.sass */
.notify {
  background: #ffff99 url(../images/notify.png) repeat-x;
  font-family: Arial;
}
/* line 23, ../sass/header.sass */
.notify p.notification {
  font-size: 14px;
}

/* line 26, ../sass/header.sass */
#header {
  background: white;
  max-width: 960px;
}

/* line 30, ../sass/header.sass */
#secondaryHeader {
  border-top: 0;
  font-family: Arial, sans-serif;
  max-width: 960px;
  background: url(../images/secondaryheader.png) repeat-x;
}
/* line 35, ../sass/header.sass */
#secondaryHeader .content-wrapper {
  width: 100%;
}

/* line 37, ../sass/header.sass */
#logo img {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 40, ../sass/header.sass */
.content-wrapper {
  margin: auto;
  position: relative;
  width: 100%;
}

/* line 45, ../sass/header.sass */
#navTags {
  background: url("../images/sprites.png") no-repeat scroll -50px -5px transparent;
}

/* line 48, ../sass/header.sass */
#navUsers {
  background: url("../images/sprites.png") no-repeat scroll -125px -5px transparent;
}

/* line 51, ../sass/header.sass */
#navBadges {
  background: url("../images/sprites.png") no-repeat scroll -210px -5px transparent;
}

/* line 55, ../sass/header.sass */
#metaNav a {
  color: #2b7fcf;
  font-family: Arial;
  font-size: 2.1%;
}
/* line 59, ../sass/header.sass */
#metaNav a .on {
  color: black;
  font-weight: bold;
}

/* line 63, ../sass/header.sass */
#userToolsNav a {
  color: #2b7fcf;
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}
/* line 69, ../sass/header.sass */
#userToolsNav a:hover {
  text-decoration: underline;
}

/* line 71, ../sass/header.sass */
#homeButton {
  background: url("../images/sprites.png") no-repeat scroll -5px -37px transparent;
  border-right: 1px solid #6488c7;
}
/* line 74, ../sass/header.sass */
#homeButton:hover {
  background: url("../images/sprites.png") no-repeat scroll -50px -37px transparent;
}

/* line 78, ../sass/header.sass */
input[type="submit"].searchBtn {
  background: url("../images/sprites.png") no-repeat scroll -98px -37px transparent;
  border: #c9c9b5 1px solid;
  color: #666666;
  margin-top: 8px;
  margin-right: 34px;
  height: 39px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 87, ../sass/header.sass */
input[type="submit"].searchBtn:hover {
  background: url("../images/sprites.png") no-repeat scroll -146px -37px transparent;
}

/* line 89, ../sass/header.sass */
.searchBar-searchInput, #searchBar .searchInput, #searchBar .searchInputCancelable {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  height: 35px;
  margin-top: 2px;
  border: #c9c9b5 1px solid;
  *width: 280px !important;
  *float: right;
}

/* line 97, ../sass/header.sass */
#searchBar {
  margin: 0;
  margin-top: 6px;
}
/* line 102, ../sass/header.sass */
#searchBar input.searchInput {
  width: 100%;
  font-size: 1.4em;
}
/* line 105, ../sass/header.sass */
#searchBar .searchInputCancelable {
  width: 316px;
}

/* line 107, ../sass/header.sass */
#searchBar .search-drop-menu, body.anon #searchBar {
  margin-left: 0;
}

/* line 110, ../sass/header.sass */
.search-drop-menu {
  width: 45%;
  position: absolute;
  top: 50px;
  margin: 0 0 0 0;
}
/* line 115, ../sass/header.sass */
.search-drop-menu .footer {
  padding-top: 10px;
}
/* line 117, ../sass/header.sass */
.search-drop-menu ul.empty {
  height: 3px;
  padding: 0;
}

/* line 123, ../sass/header.sass */
body.anon .search-drop-menu {
  margin-left: 0;
}

/* line 126, ../sass/header.sass */
#searchBar .searchInput {
  width: 100%;
}
/* line 128, ../sass/header.sass */
#searchBar .searchInputCancelable {
  width: 100%;
}

/* line 130, ../sass/header.sass */
.cancelSearchBtn {
  border: #c9c9b5 1px solid;
  border-right: none;
  height: 39px;
  line-height: 39px;
  margin: 8px 0 0 -39px;
  padding: 0 10px;
}

/* line 137, ../sass/header.sass */
.scope-selector {
  color: white;
  font-size: 0.8em;
  font-family: Arial;
}
/* line 141, ../sass/header.sass */
.scope-selector.on {
  background: url("../images/navshadow.png") no-repeat scroll center bottom transparent;
}

/* line 146, ../sass/header.sass */
#metaNav {
  float: right;
}

/* line 148, ../sass/header.sass */
.sub-secondary {
  float: left;
}

/* line 150, ../sass/header.sass */
#sub-sec-2 {
  margin-right: -49px;
  width: 45%;
  margin-left: 10px;
}

/* line 154, ../sass/header.sass */
#sub-sec-3 {
  margin-left: 0px;
}
/* line 156, ../sass/header.sass */
#sub-sec-3 input {
  margin-right: 0px;
}

/* line 158, ../sass/header.sass */
#sub-sec-4, #sub-sec-tmp {
  float: right;
  width: 17%;
  height: 55px;
}

/* line 163, ../sass/header.sass */
.sub-parent:after {
  content: " ";
  clear: both;
}

@media only screen and (max-width: 950px) {
  /* line 168, ../sass/header.sass */
  body {
    font-size: 85%;
  }
}
@media only screen and (max-width: 800px) {
  /* line 173, ../sass/header.sass */
  body {
    font-size: 100%;
  }

  /* line 175, ../sass/header.sass */
  #sub-sec-4 {
    visibility: hidden;
    position: absolute;
  }

  /* line 178, ../sass/header.sass */
  #sub-sec-tmp {
    visibility: visible;
    position: relative;
    float: right;
    width: 40%;
  }

  /* line 183, ../sass/header.sass */
  #sub-sec-2 {
    margin-left: 0;
    width: 100%;
  }
  /* line 186, ../sass/header.sass */
  #sub-sec-2 .search-drop-menu {
    top: 104px;
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  /* line 192, ../sass/header.sass */
  body {
    font-size: 90%;
  }

  /* line 194, ../sass/header.sass */
  #userToolsNav, #metaNav {
    margin-right: 4%;
  }

  /* line 196, ../sass/header.sass */
  #logo img {
    margin-top: -10px;
    margin-bottom: 0px;
  }
}
@media only screen and (max-width: 550px) {
  /* line 202, ../sass/header.sass */
  body {
    font-size: 80%;
  }

  /* line 204, ../sass/header.sass */
  #homeButton {
    visibility: hidden;
    position: absolute;
  }
}
@media only screen and (max-width: 550px) {
  /* line 209, ../sass/header.sass */
  body {
    font-size: 70%;
  }

  /* line 211, ../sass/header.sass */
  #sub-sec-tmp {
    width: 45%;
  }
}
@media only screen and (max-width: 400px) {
  /* line 214, ../sass/header.sass */
  #sub-sec-tmp {
    width: 40%;
  }

  /* line 216, ../sass/header.sass */
  .scope-selector {
    font-size: 0.7em;
  }
}
/* line 5, ../sass/buttons.sass */
#askButton,
.box .inputs #interestingTagAdd,
.box .inputs #ignoredTagAdd,
.box a.followed,
.box a.follow,
#fmanswer input.submit,
.ask-page input.submit,
.edit-question-page input.submit,
.question-page .comments button,
#email-input-fs .submit-b,
#local_login_buttons .submit-b,
#password-fs .submit-b,
#openid-fs .submit-b,
.openid-signin input.submit,
.meta input.submit,
.users-page input.submit,
.user-profile-edit-page input.submit,
.user-profile-page input.submit,
.follow-toggle, .submit {
  color: white;
  font-family: Arial;
  font-weight: bold;
  background-color: #67a5df;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #67a5df), color-stop(50%, #67a5df), color-stop(100%, #1f5e97));
  background-image: -webkit-linear-gradient(top, #67a5df, #67a5df 50%, #1f5e97);
  background-image: -moz-linear-gradient(top, #67a5df, #67a5df 50%, #1f5e97);
  background-image: -o-linear-gradient(top, #67a5df, #67a5df 50%, #1f5e97);
  background-image: linear-gradient(top, #67a5df, #67a5df 50%, #1f5e97);
  text-shadow: 0px 1px 1px #233b63;
  -moz-text-shadow: 0px 1px 1px #233b63;
  -webkit-text-shadow: 0px 1px 1px #233b63;
  -webkit-box-shadow: 0px 1px 0px #3a61a4;
  -moz-box-shadow: 0px 1px 0px #3a61a4;
  box-shadow: 0px 1px 0px #3a61a4;
}
/* line 16, ../sass/buttons.sass */
#askButton:hover,
.box .inputs #interestingTagAdd:hover,
.box .inputs #ignoredTagAdd:hover,
.box a.followed:hover,
.box a.follow:hover,
#fmanswer input.submit:hover,
.ask-page input.submit:hover,
.edit-question-page input.submit:hover,
.question-page .comments button:hover,
#email-input-fs .submit-b:hover,
#local_login_buttons .submit-b:hover,
#password-fs .submit-b:hover,
#openid-fs .submit-b:hover,
.openid-signin input.submit:hover,
.meta input.submit:hover,
.users-page input.submit:hover,
.user-profile-edit-page input.submit:hover,
.user-profile-page input.submit:hover,
.follow-toggle:hover, .submit:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #67a5df), color-stop(20%, #67a5df), color-stop(100%, #1f5e97));
  background-image: -webkit-linear-gradient(top, #67a5df, #67a5df 20%, #1f5e97);
  background-image: -moz-linear-gradient(top, #67a5df, #67a5df 20%, #1f5e97);
  background-image: -o-linear-gradient(top, #67a5df, #67a5df 20%, #1f5e97);
  background-image: linear-gradient(top, #67a5df, #67a5df 20%, #1f5e97);
}

/* line 40, ../sass/buttons.sass */
#askButton {
  width: 100%;
  height: 38px;
  line-height: 38px;
  margin-right: 18px;
  font-size: 0.9em;
}

/* line 48, ../sass/buttons.sass */
.box .inputs #interestingTagAdd, .box .inputs #ignoredTagAdd {
  font-size: 11px;
}
/* line 50, ../sass/buttons.sass */
.box a.follwed, .box a.follow {
  font-size: 14px;
}

/* line 53, ../sass/buttons.sass */
#fmanswer input.submit, .ask-page input.submit, .edit-question-page input.submit {
  font-size: 15px;
}
/* line 57, ../sass/buttons.sass */
.openid-signin input.submit, .meta input.submit, .users-page input.submit, .user-profile-edit-page input.submit, .user-profile-page input.submit {
  font-size: 13px;
}

/* line 64, ../sass/buttons.sass */
#email-input-fs .submit-b, #local_login_buttons .submit-b, #password-fs .submit-b, #openid-fs .submit-b {
  font-size: 13px;
}

@media only screen and (max-width: 500px) {
  /* line 71, ../sass/buttons.sass */
  #askButton {
    font-size: 0.7em;
    margin-right: 5px;
  }
}
/* line 2, ../sass/slideBar.sass */
.box h2 {
  background: none;
  text-align: center;
  font-family: Arial;
  font-size: 14px !important;
  font-weight: bold;
  color: #333333;
  border-bottom: #a7a7a7 1px solid;
  height: 25px;
  line-height: 25px;
}
/* line 12, ../sass/slideBar.sass */
.box .contributorback {
  background: none;
}
/* line 14, ../sass/slideBar.sass */
.box h3 {
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
}

/* line 18, ../sass/slideBar.sass */
#displayTagFilterControl p label {
  font-family: Arial;
  font-size: 13px;
}

/* line 22, ../sass/slideBar.sass */
.question-page .vote-buttons {
  margin: 0 0 0 10px;
}
/* line 24, ../sass/slideBar.sass */
.question-page .vote-buttons .notify-sidebar label {
  font-family: Arial;
  font-size: 11px;
  line-height: 1.1;
}
/* line 29, ../sass/slideBar.sass */
.question-page .box.vote-buttons {
  margin-left: 0;
}
/* line 31, ../sass/slideBar.sass */
.question-page p.rss a {
  font-family: Arial;
  font-size: 11px;
}

/* line 2, ../sass/questionContent.sass */
.tabBar {
  background-color: #f2f4f7;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f2f4f7), color-stop(60%, #f2f4f7), color-stop(100%, #d9e2f1));
  background-image: -webkit-linear-gradient(top, #f2f4f7, #f2f4f7 60%, #d9e2f1);
  background-image: -moz-linear-gradient(top, #f2f4f7, #f2f4f7 60%, #d9e2f1);
  background-image: -o-linear-gradient(top, #f2f4f7, #f2f4f7 60%, #d9e2f1);
  background-image: linear-gradient(top, #f2f4f7, #f2f4f7 60%, #d9e2f1);
  font-family: Arial;
  font-size: 13px;
  border-bottom: #a4b2bf 1px solid;
}

/* line 10, ../sass/questionContent.sass */
.tabsA a, .tabsC a {
  color: #184774;
}
/* line 14, ../sass/questionContent.sass */
.tabsA a.on, .tabsC a.on {
  color: #184774;
}

/* line 16, ../sass/questionContent.sass */
.rss {
  font-family: Arial;
  font-size: 15px;
}

/* line 19, ../sass/questionContent.sass */
#questionCount {
  color: black;
  font-family: Arial;
  font-size: 20px;
}

/* line 23, ../sass/questionContent.sass */
.search-tips {
  font-family: Arial;
  font-size: 13px;
}

/* line 26, ../sass/questionContent.sass */
#listSearchTags {
  font-family: Arial;
  font-size: 14px;
}

/* line 29, ../sass/questionContent.sass */
.short-summary {
  background: url("../images/summary.png") no-repeat left top;
  border-bottom: 0;
  padding-left: 10px;
}
/* line 33, ../sass/questionContent.sass */
.short-summary h2 {
  font-family: Arial;
  font-size: 1.5em;
  *width: 500px;
}
/* line 37, ../sass/questionContent.sass */
.short-summary a {
  color: #2f4161;
}
/* line 39, ../sass/questionContent.sass */
.short-summary .counts {
  *width: 200px;
  *height: 80px;
}
/* line 42, ../sass/questionContent.sass */
.short-summary .counts .item-count {
  font-family: Arial;
  font-size: 16px;
}
/* line 46, ../sass/questionContent.sass */
.short-summary .counts .votes div, .short-summary .counts .views div, .short-summary .counts .answers div, .short-summary .counts .favorites div {
  font-size: 11px;
  font-family: Arial;
}

/* line 52, ../sass/questionContent.sass */
.paginator .next a, .paginator .prev a, .paginator .page a {
  color: #2b7fcf;
}
/* line 55, ../sass/questionContent.sass */
.paginator .page a:visited {
  color: #2b7fcf;
}
/* line 57, ../sass/questionContent.sass */
.paginator .curr {
  color: white;
  background: #2b7fcf;
}

/* line 62, ../sass/questionContent.sass */
.evenMore a {
  color: #2b7fcf;
  text-decoration: underline;
}

/* line 67, ../sass/questionContent.sass */
#questionCount {
  width: auto;
}

/* line 69, ../sass/questionContent.sass */
#main-body {
  max-width: 960px;
}

@media only screen and (max-width: 1000px) {
  /* line 72, ../sass/questionContent.sass */
  .short-summary, #ContentLeft {
    width: 715px;
  }
}
@media only screen and (max-width: 980px) {
  /* line 75, ../sass/questionContent.sass */
  .short-summary, #ContentLeft {
    width: 700px;
  }
}
@media only screen and (max-width: 960px) {
  /* line 78, ../sass/questionContent.sass */
  .short-summary, #ContentLeft {
    width: 690px;
  }
}
@media only screen and (max-width: 950px) {
  /* line 81, ../sass/questionContent.sass */
  .short-summary, #ContentLeft {
    width: 670px;
  }
}
@media only screen and (max-width: 940px) {
  /* line 84, ../sass/questionContent.sass */
  .short-summary, #ContentLeft {
    width: 660px;
  }
}
@media only screen and (max-width: 920px) {
  /* line 87, ../sass/questionContent.sass */
  .short-summary, #ContentLeft {
    width: 640px;
  }
}
@media only screen and (max-width: 900px) {
  /* line 90, ../sass/questionContent.sass */
  .short-summary, #ContentLeft {
    width: 630px;
  }
}
@media only screen and (max-width: 890px) {
  /* line 93, ../sass/questionContent.sass */
  .short-summary, #ContentLeft {
    width: 100%;
    padding-left: 0px;
  }

  /* line 96, ../sass/questionContent.sass */
  #ContentRight {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  /* line 100, ../sass/questionContent.sass */
  .short-summary h2 {
    font-size: 1.3em;
  }

  /* line 102, ../sass/questionContent.sass */
  #ContentLeft {
    margin-top: 0px;
  }
}
@media only screen and (max-width: 650px) {
  /* line 106, ../sass/questionContent.sass */
  .short-summary h2 {
    font-size: 1.1em;
  }
}
@media only screen and (max-width: 600px) {
  /* line 109, ../sass/questionContent.sass */
  .rss {
    visibility: hidden;
    position: absolute;
  }

  /* line 113, ../sass/questionContent.sass */
  .short-summary h2 {
    font-size: 1.3em;
  }

  /* line 115, ../sass/questionContent.sass */
  #sort_tabs {
    font-size: 12px;
  }
}
@media only screen and (max-width: 500px) {
  /* line 118, ../sass/questionContent.sass */
  #sort_tabs {
    font-size: 11px;
  }
}
@media only screen and (max-width: 450px) {
  /* line 122, ../sass/questionContent.sass */
  .short-summary h2 {
    font-size: 1.2em;
  }
}
/* line 2, ../sass/footer.sass */
#ground {
  background: #fafafa;
  border: 0;
  font-family: Arial;
  font-size: 12px;
  max-width: 960px;
}

/* line 9, ../sass/footer.sass */
.footer-links a, .copyright a, .powered-link a {
  color: #2b7fcf;
}

/* line 4, ../sass/questionPage.sass */
.question-page h1 a {
  font-family: Arial;
  font-size: 23px;
  line-height: 25px;
}
/* line 9, ../sass/questionPage.sass */
.question-page .post-controls a:hover {
  background-color: #e9f7ff;
}

/* line 11, ../sass/questionPage.sass */
.share-question, #fmanswer h2 {
  font-size: 16px;
  font-family: Arial;
  color: black;
}

/* line 15, ../sass/questionPage.sass */
#questionCount {
  color: #333333;
  font-family: Arial;
  font-size: 14px;
  padding-top: 8px;
}

/* line 20, ../sass/questionPage.sass */
.section-title {
  color: black;
  font-family: Arial;
  font-size: 18px;
}

/* line 24, ../sass/questionPage.sass */
.scoreNumber, .count {
  font-family: Arial;
  font-size: 22px;
}

/* line 28, ../sass/questionPage.sass */
.user-profile-page h2 {
  font-family: Arial;
  font-size: 18px;
}

/* line 31, ../sass/questionPage.sass */
#id_email, #id_username, #id_password,
#askFormBar .questionTitleInput,
#id_summary, #id_title, #id_tags,
.wmd-container {
  border: 3px solid #dfdfdf;
}

/* line 36, ../sass/questionPage.sass */
#editor {
  border: none;
}

@media only screen and (max-width: 650px) {
  /* line 40, ../sass/questionPage.sass */
  #questionCount {
    font-size: 13px;
  }
}
