/*
 * CSS styles for redturtle.sendto_extension
 */

#content ul.emailItems {
	list-style: none;
}
#content ul.emailItems li {
	background: url(++resource++redturtle.sendto_extension.resources/mail_icon.png) no-repeat left center;
	padding-left: 20px;
	margin: 3px 0;
}

#content ul.userItems {
	list-style: none;
}
#content ul.userItems li {
	background: url(++resource++redturtle.sendto_extension.resources/user.png) no-repeat left center;
	padding-left: 20px;
	margin: 3px 0;
}

#content ul.groupItems {
	list-style: none;
}
#content ul.groupItems li {
	background: url(++resource++redturtle.sendto_extension.resources/group.png) no-repeat left center;
	padding-left: 20px;
	margin: 3px 0;
}

#content .zptformfield a:link,
a.deleteItem {
	text-decoration: none;
	border-bottom: none;
}

#sendToForm .onLeft {
	clear: left;
	float: left;
	width: 45%;
}

#sendToForm .onRight {
	clear: none;
	float: right;
	width: 50%;
}

