tr.highlight td {
background-color: #6A9CFF;
}

label
{
float: left;
margin-right: 0.5em;
display: block
}

.submit input
{
margin-left: 0em;
}

input
{
color: #000000;
background: #ffffff;
border: 1px solid #000000
}

.submit input
{
color: #000;
background: #B5CFFF;
border: 2px outset #ffffff
}

fieldset
{
border: none; #1px solid #111144;
width: auto
}

legend
{
color: #111144;
background: #B5CFFF;
padding: 2px 6px;
font-size: 10pt;
}

#form_sort, #form_filter, #form_highlight, #form_search, #form_output
{
float: left;
}

#results
{
clear: both;
}

table.color_table
{
empty-cells: show;
border-width: 1px;
border-style: solid;
border-color: black;
border-collapse: collapse;
}

td.color
{
border-width: 1px;
border-style: solid;
border-color: black;
border-collapse: collapse;
padding: 5px;
}

td.alias
{
text-align: center;
}

table.stats
{
text-align: center;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif ;
font-weight: normal;
color: #fff;
background-color: #666;
border: 0px;
border-collapse: collapse;
border-spacing: 0px;
}

table.stats td
{
background-color: #def;
color: #000;
padding: 4px;
text-align: left;
border: 1px #fff solid;
}

table.stats th
{
background-color: #B5CFFF;
color: #000000;
padding: 4px;
text-align: left;
border-bottom: 2px #fff solid;
font-weight: bold;
}

div.option_box
{
background-color: #def;
margin-top: 4px;
margin-bottom: 4px;
}

div.result_box
{
margin-top: 10px;
margin-bottom: 10px;
}

:link img, :visited img
{
border: none;
}

