@font-face {
	font-family: 'icomoon';
	src: url('/static/omblog/fonts/icomoon.eot');
	src: url('/static/omblog/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('/static/omblog/fonts/icomoon.svg#icomoon') format('svg'),
		url('/static/omblog/fonts/icomoon.woff') format('woff'),
		url('/static/omblog/fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
[data-icon]:before,
.icon{
	font-family: 'IcoMoon';
	content: attr(data-icon);
	speak: none;
}

html,
body{
	height: 100%;
	font-family: Lato;
	font-size: 16px;
}
body{
	margin: 0;
	padding: 0;
	background-color: #fff;
}
a.view{
	background-color: #000;
	font-size: 10px;
	text-transform: uppercase;
	color: #fff;
	position: fixed;
	display: inline-block;
	line-height: 10px;
	padding: 20px 10px;
	text-decoration: none;
	margin: 10px 0 0 10px;
	
}
div{
	margin: 0;
	padding: 0;
}
.inactive{
	textarea{
		color: #ddd;
	}
}
div.write{
	width: 600px;
	margin-left: 82px;
	padding-left: 12%;
}
div.panel{
	background-color: #eaeaea;
	width: 300px;
	border: 1px solid #ddd;
	border-left: 0 none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	position: fixed;
	z-index: 100;
	-webkit-transition: left 0.2s ease-in-out;
	-moz-transition: left 0.2s ease-in-out;
	-o-transition: left 0.2s ease-in-out;
	-ms-transition: left 0.2s ease-in-out;
}

div.panel.hidden{
	left: -1000px;
}

div.panel.settings{
	top: 180px;
	width: 500px;
}

div.panel.settings label{
	padding-right: 1em;
	color: #999;
}

div.panel.settings input#id_slug{
	border-top: 0 none;
	border-left: 0 none;
	border-right: 0 none;
	width: 300px;
	background-color: #eaeaea;
	font-weight: 900;
}

div.panel.settings.delete{
	top: 250px;
}
div.panel.settings.attachments{
	top: 100px;
}


@-webkit-keyframes Rotate {
	from {
		-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(360deg);}
}
.rotate {
	-webkit-animation: Rotate 1s infinite linear;
}


div.feedback{
	margin: 0 auto;
	color: #666;
	font-size: 10px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	text-align: center;
	position: fixed; 
	width: 100%;
	display: none;
	z-index: 2000;
}

div.feedback p{
	padding: 0.25em 0.5em;
	margin: 0;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	line-height: 28px;
	display: inline-block;
	background-color: #000;
	cursor: pointer;
}

div.feedback p.error{
	background-color: #EF0028;
}

div.feedback p.success{
	background-color: #36D057;
}

div.feedback span.msg{
	font-size: 12px;
	line-height: 18px;
}

div.feedback span..icon{
	font-size: 18px;
	line-height: 18px;
	display: inline-block;
	width: 18px;
	height: 18px;
}

form{
	margin: 0;
	padding: 0;
	width: 100%;
}

form label{
	color: #999;
}

form fieldset{
	border: 0;

}

form fieldset.errors input,
form fielset.errors textarea{
	color: #FF0157;
	border-bottom: 1px solid #FF0005;
}

input,
textarea{
	font-size: 16px;
	font-family: Lato;
	color: #2e2e2e;
	text-shadow: -1px -1px 1px #fff;
	padding: 0.5em 0;
	margin: 0;
	border: 0;
	border-bottom: 1px dotted #ccc;
}
input:focus,
textarea:focus{
	outline: none;
}
input{
	width: 100%;
}

input#id_slug{
	width: 70%;
}

form fieldset textarea{
	background-color: #fff;
	width: 100%;
	max-width: 100%;
	height: 28px;
	resize: none;
}

form fieldset textarea#id_title{
	font-size: 28px;
	line-height: 1.75em;
	font-weight: 900;
	padding: 28px 0;
}
form fieldset textarea#id_description{
	font-size: 16px;
	font-weight: 900;
	line-height: 1.75em;
	padding: 16px 0;
}
form fieldset textarea#id_source_content{
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
}


div.progress{
	width: 200px;
	margin-top: 80px;
	margin-left: 20px;
	height: 7px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 1px;
	display: none;
}
div.progress .completed{
	width: 50%;
	border-radius: 5px;
	height: 100%;
	background-color: #ccc;
}

div#dropbox{
	position: fixed;
	width: 250px;
	height: 80px;
	top: 0;
	color: #232323;
	right: 0;
	z-index: 3010;
}

div#dropbox #dropbox-target{
	width: 100%;
	height: 100%;
	background-color: rgba(#fff, 0);
	opacity: 0;
	top: 0;
	right: 0;
	z-index: 3030;
	position: absolute;
}

div#dropbox h3{
	text-align: center;
}

div#dropbox h3.active{
	display: block;
}

div#dropbox .instructions{
	border: dashed 1px #ccc;
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	width: 210px;
	top: 0;
	right: 0;
	color: #ccc;
	text-align: center;
	z-index: 3020;
	position: absolute;
}

div#dropbox .instructions.delete{
	background-color: #f00;
	color: #fff;
}

div#images{
	position: fixed;
	top: 100px;
	width: 250px;
	right: 0;
	text-align: right;
	padding-right: 10px;
}

div#images .postimage{
	height: 100px;
	width: 100px;
	border-radius: 2px;
	margin: 0 10px 10px 0;
	border: 1px solid #c2c2c2;
	cursor: move;
	background-position: center center;
	background-size: 100% round;
	background-repeat: no-repeat;
	float: left;
}
