

/* STRIPPED LIST */
.list-striped li{
 padding: 1em;
 border-bottom: 1px dotted #CCCCCC;
 border-top: 1px dotted #CCCCCC;
}

.list-striped li:nth-child(odd) {
 background-color: #F5F5F5;
}

.list-striped li div.imagediv{
 border-right: 1px solid #F5F5F5;
}

.list-striped li:nth-child(odd) div.imagediv{
 border-right: 1px solid white;
}




/* D3 js */
.node text{
  cursor: pointer;
}

/*.node {
  font-family: "News Cycle","Arial Narrow Bold",sans-serif;
  font-size: 16px;
  line-height: 18px;
}*/

.link {
  fill: none;
}


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: dimgray;
}

.x.axis path {
  display: none;
}