.half {
	width: 50%;
}

.pc60 {
	width: 60%;
}

.pc35 {
	width: 35%;
}

SPAN.square {
	display: block;
	float: right;
	position: relative;
	top: 1px;
	width: 10px;
	height: 10px;
	border: 1px solid silver;
	margin: 1px;
}

TABLE.extracts TD.actions {
	width: 15%;
}

DIV.tree DIV.required-info {
	display: none;
}

DIV.extract A.label,
DIV.tree A.label,
DIV.tree IMG.plminus,
DIV.tree IMG.extension {
	cursor: pointer;
}

DIV.tree A.candidate {
	font-style: italic;
}

DIV.tree A.archived {
	text-decoration: line-through;
}

DIV.tree DIV.node {
	border-left: 2px solid silver;
}

DIV.tree IMG.plminus {
	padding-right: 5px;
	vertical-align: middle;
}

DIV.tree IMG.extension {
	vertical-align: middle;
	padding: 0px 1px;
}

DIV.tree DIV.subnodes {
	padding-left: 20px;
	border-top: 1px dotted silver;
}

FIELDSET.search A.find {
	float: left;
	margin-top: 4px;
}

DIV.dialog DIV.tree {
	max-height: 450px;
	*max-height: none;
	overflow: auto;
	*overflow: auto;
}
