body{
    color: #333;
    padding: 15px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.main {
    text-align: left;
    max-width: 800px;
    margin: 20px auto;
    border-radius: 20px;
    padding: 30px 50px;
    min-width: 300px;
    background-color: #eee;
    margin-top: 60px;
    margin-bottom: 100px;
    box-shadow: 0 0 30px #aaa;
    border: 1px solid #ccc;
}
@media (max-width: 600px) {
    .main {
        padding: 30px 20px;
    }
}