#sermon-summary {
border: 1px solid #eee;
}
#sermon-summary td {
border: 0;
}
#sermon-summary .mejs-audio {
float: left;
}
.sermon-audio-file a img {
height: 34px;
margin-right: 18px;
}
.sermon-audio-file a {
float: left;
}
.sermon-metadata .sermon-date, .sermon-metadata .sermon-speaker {
border-right: 1px solid rgb(221, 215, 215);
}
.sermon-metadata span {
padding: 3px 6px 3px 0;
}
.sermon-audio-file .mejs-container {
margin-top: 4px;
}