/*
**  Instructions to set caching headers. Inside comments area to play nicer with CSS editors.
** <dtml-let root_url="get_root_url()" last_modified="_.DateTime()-14" expires="_.DateTime()+7">
** <dtml-call "REQUEST.RESPONSE.setHeader( 'Content-Type', 'text/css' )">
** <dtml-call "REQUEST.RESPONSE.setHeader( 'Last-Modified', last_modified.toZone('GMT').rfc822() )">
** <dtml-call "REQUEST.RESPONSE.setHeader( 'Cache-Control', 'max-age=36000, must-revalidate' )">
** <dtml-call "REQUEST.RESPONSE.setHeader( 'Expires', expires.toZone('GMT').rfc822() )" >
*/
/* SilvaPoll specific CSS selectors */
div.poll {
  background:url(/images/poll_head.gif) no-repeat top left;
  width: 368px;
  padding: 0;
  margin: 0;
}

h3.poll_question, h4.poll_result {
  font-size: 12px;
  font-family: Arial, Sans-Serif;
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 14px;
  font-weight: bold;
}

div.poll_answers {
  padding:0.3em 0 0.3em 0;
  clear: both;
  border-style: solid;
  border-color: #B5B5B5;
  border-width: 0 0 1px 0;
}

span.poll_radio, span.poll_radio_last {
  width: 25px;
  text-align: left;
  vertical-align: middle;
  margin: 0;
  padding: 3px 0 3px 0;
}

span.poll_label, span.poll_label_last {
  height: 26px;
  text-align: left;
  vertical-align: middle;
  margin: 0;
  padding: 3px 0 3px 10px;
}

div.poll_result_label, div.poll_result_label_last {
  float: left;
  width: 230px;
  height: 40px;
  text-align: left;
  vertical-align: top;
  margin: 0;
  padding: 3px 15px 5px 0px;
}

div.poll_result, div.poll_result_result_last {
  float: right;
  width: 120px;
  text-align: left;
  vertical-align: top;
  margin: 0;
  padding: 0.2em 0 0.2em 0;
}

div.poll_bar_outer {
  text-align: right;
  height: 10px;
  width: 100px;
  border: 1px solid #B5B5B5;
  padding: 0;
  margin: 0 0 3px 0;
}

div.poll_bar {
  height: 10px;
  background-color:#979797;
}

div.poll p {
  padding-bottom: 0;
  margin-bottom: 0;
}

input.poll {
  margin: 0;
  padding: 0;
}

input.poll_submit {
  color:#979797;
  display:block;
  margin-top:2em;
  border:none;
}
