form.dated-values-form {
    width: 100%;
}
form.dated-values-inline-form {
    display: inline;
}
input.dated-values-input {
    width: 98%;
}
table.dated-values-table {
    width: 100%;
    table-layout: fixed;
}
table.dated-values-table th {
    font-size: 14px;
}
table.dated-values-table th.dated-values-table-title {
    font-size: 16px;
}
