body        { background: #E8EFF0; margin: 0; padding: 0; line-height: 1.6em;}
body, input { font-family: 'Helvetica Neue', Arial,
              sans-serif; font-weight: 300; font-size: 18px; }
.box        { margin: 50px auto; padding: 20px;
              background: white; box-shadow: 0 1px 4px #BED1D4;
              border-radius: 2px; }
a           { color: #039; }
h1, h2      { margin: 0; color: #039; }
h1 a        { text-decoration: none; }
h2          { font-weight: normal; font-size: 24px; }
.tagline    { color: #888; font-style: italic; margin: 0 0 20px 0; }
.error      { background: #E8EFF0; padding: 3px 8px; color: #039;
              font-size: 0.9em; border-radius: 2px; }
#hor-min-a    { font-size: 12px; border-collapse: collapse; text-align: center;}
#hor-min-a th { font-size: 14px; font-weight: normal;
	            color: #039; padding: 10px 8px; border-bottom: 2px solid #6678b1;}
#hor-min td   { color: #669; padding: 9px 8px 0px 8px; }
#hor-min-a tbody tr:hover td { color: red;}

