/* forum elements */
/* input fields */
div.forum input, div.forum textarea {
  border: 1px solid #aaa;
}
div.forum input.dialog-closer {
  border: none;
}
div.forum input[type=text], textarea {
  margin: 0.3em 0;
}
div.forum input.store, textarea.store {
  width: 99%;
}
div.forum input[type=submit] {
  margin: 0.5em 0.5em 0 0;
}
div.forum input[type=checkbox] {
  margin: 0.2em 0;
}
div.forum input.dialog-closer {
  position: absolute;
  right: 0.4em;
  top: 0.4em;
}
div.forum #form-field-email {
  width: 16em;
}
/* general forum styling */
div.forum h2 { /* section heading */
  margin: 0.2em 0 0.4em 0;
  color: #909090;
  font-size: 15px;
  font-weight: bold;
  text-transform: none;
}
/* activate if buttons do not float right
div.forum h3.comments {
  padding-top: 0.7em;
}*/
div.forum-dialog h3 { /* dialog heading */
  padding-right: 0.5em;
  color: #3e3e3e;
  font-weight: normal;
}
div.forum h3.comments { /* section heading */
  margin: 0.2em 0 0.4em 0;
  color: #909090;
  font-size: 15px;
  font-weight: bold;
  text-transform: none;
}
div.forum h3 { /* topic heading */
  margin: 0;
  font-size: 18px;
}
div.forum h4 { /* comment heading */
  margin: 0.2em 0 0;
  font-size: 14px;
}
div.forum p {
  margin: 0.2em 0 0.5em;
  text-align: left;
}
div.forum p.comment-message {
  margin-top: 0;
  font-size: 13px;
  padding-bottom: 0.3em;
}
div.forum p.post-info {
  margin-top: 0;
  font-size: 11px;
}
div.forum p.up {
  margin-bottom: 1.2em;
}
div.even, div.odd {
  padding: 0.5em 0.5em 0 0;
  border-top: 1px solid #dedede;
}
div.forum-user-controls {
  float: right;
  margin-right: 0.15em;
}
/* forum expandable js widget */
div.forum div.dialog-opener {
  margin-top: -1em;
  float: right;
  clear: both;
}
div.forum-dialog {
  position: relative;
  display: inline-block;
  margin: 0.5em 0 0.5em;
  padding: 0.4em 0.5em 0.5em;
  border: 1px solid #808080;
  clear: both;
}
div.forum div.action {
  float: left;
}
div#emoticons {
  float: right;
  padding-right: 0.7em;
}
div.forum div.field {
  margin: 0.8em 0;
}
div.forum div.captcha-field {
  margin-top: 1em;
}
div.forum div.captcha {
  margin-top: 1em;
}
div.forum div.captcha-field img {
  margin: 0.3em 0 0;
}
div.forum div.preview {
  margin: 0.3em 0 0.5em;
  padding: 0.3em 0.3em 0;
  border: 1px solid #8FC511;
}
div.forum h2.preview {
  margin: 0.9em 0 0.4em;
}
/* forum feedback */
div.forum span.feedback, span.form-status {
  margin-bottom: 0.5em;
  padding: 0.25em;
  border: 1px solid #8fc511;
  color: #003448;
  background-color: transparent;
  padding: 0.2em;
  width: 99%;
  display: block;
}
div.forum span.feedback.warning, span.form-error, span.field-error {
  border: 1px solid #a00;
  color: #a00;
  background-color: transparent;
  padding: 0.2em;
  display: block;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  width:99%;
}
/* batched navigation */
div.forum div.batchNav {
  text-align: center;
  clear: both;
}
div.forum div.batchNav a.current {
  font-weight: bold;
  text-decoration: none;
  color: #7baa0f;
}
/* forum view table styling */
table.forum-content-table {
  border-spacing: 0;
  width: 100%;
  margin-top: 0.2em;
}
table.forum-content-table th {
  color: #909090;
  font-size: 15px;
  padding: 0.3em 0.5em 0.1em 0;
  text-align:left;
}
table.forum-content-table tr {
 vertical-align:top;
}
table.forum-content-table tr td {
 border-top: 1px solid #dedede;
 padding: 0.3em 0.5em 0.1em 0;
}
table.forum-content-table td.topic p {
  font-size: 13px;
}
table.forum-preview {
  margin: 0 0 0.2em;
  padding-bottom:0.2em;
}
table.forum-preview td.topic {
  text-decoration: underline;
}
div.forum div.field-captcha-wrapper {
  float: none;
  clear: both;
  width: 136px;
  padding-top: 0.5em;
}
div.forum input.field-captcha {
  width: 136px;
}
