html {
	height: 100%;
	background-color: #181818; /* adapted from Pure website */
}

body {
	min-height: 100%;
	margin: 1em 0 0 10em;
	border-top-left-radius: 5px;
	padding: 1.5em 2em;
	background-color: #FFF;
}

aside { /* XXX: to generic */
	float: right;
}

.nav {
	position: fixed;
	margin-top: -1.5em; /* corresponds to body's padding */
	margin-left: -12em; /* corresponds to body's margin + padding */
	padding: 0;
	list-style-type: none;
	color: white;
}
.nav.pure-menu { /* override Pure defaults */
	width: 10em;
	border: none;
	background-color: transparent;
}

.nav .pure-menu-heading {
	margin-top: 0;
	font-size: 110%;
	color: #FFF;
}

.nav .divided {
	border-top: 1px solid #333333;
}

.nav.pure-menu a {
	color: #999;
}
.nav.pure-menu a:hover,
.nav.pure-menu a:focus,
.nav.pure-menu .pure-menu-selected {
	background-color: #333; /* adapted from Pure website */
}

/* components -- XXX: does not belong here */

aside input,
aside .pure-form.panel input {
	display: block;
}

aside input[type=checkbox],
aside .pure-form input[type=checkbox] {
	display: inline;
}

.notification {
	border-radius: 4px;
	padding: 5px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	color: #FFF;
	background-color: #42B8DD;
}
