body {
  font-family: "Open Sans", Arial, sans-serif;
  background: #EFF0F2;
  color: #34495E;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

table {
  font-size: 12px;
}

tr td:first-child {
  width: 1%;
  white-space: nowrap;
}

td, th {
  text-align: center;
}

.has-switch {
  outline: none;
  margin-top: 3px;
  margin-left: 15px;
}

.chart-title {
  font-size: 18px;
  text-align: center;
  height: 32px;
}

.title {
  margin: 10px 0 15px 0;
  text-align: center;
  font-size: 1.4em;
}

.content > .container {
  padding-bottom: 100px;
}

#powerTip {
  font-size: 11px !important;
  padding: 3px 4px !important;
  font-family: Helvetica;
  pointer-events: none;
  background-color: #34495E!important;
  line-height: 1.286;
  border-radius: 4px!important;
}

#powerTip.e:before, #powerTip.w:before {
  border-bottom: 7px solid rgba(0, 0, 0, 0)!important;
  border-top: 7px solid rgba(0, 0, 0, 0)!important;
  margin-top: -7px!important;
}

#powerTip.e:before {
  border-right: 10px solid #34495E!important;
}

#powerTip.w:before {
  border-left: 10px solid #34495E!important;
}

.tooltip {
  pointer-events: none;
}

.tooltip-text {
  text-align: left;
  margin: 0;
  -webkit-padding-start: 0;
  padding-left: 0;
}

.tooltip-text li {
  padding: 1px 0;
  margin-left: 0px;
  display: block;
}

.tooltip-text span {
  color: #d6d6d6;
}

.indicator {
  position: absolute;
  display: none;
  width: 1px;
  background-color: #34495e;
  pointer-events: none;
  box-shadow: #34495e 0px 0px 1px 0px;
}

path {
  pointer-events: none;
}

rect.background {
  pointer-events: visible !important;
}

.filter-brush .extent {
  fill: hsl(0, 0%, 20%);
  fill-opacity: 0.2;
  stroke: hsl(0, 0%, 10%);
  stroke-width: 1px;
  stroke-opacity: 0.4;
  shape-rendering: crispedges;
  stroke-dasharray: 3 3;
}

.brush-rect rect {
  fill: hsl(211, 59%, 64%);
  fill-opacity: 0.5;
}

.value-label > * {
  position: absolute;
  font-family: sans-serif;
  font-size: 10px;
  background-color: hsl(0, 0%, 85%);
  color: hsl(0, 0%, 44%);
}

.value-label .cursor {
  width: 16px;
  height: 16px;
  position: absolute;
  background-color: hsl(0, 0%, 85%);
  top: -4px;
  margin: 0 auto;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 12;
  left: 38px;
}
.value-label {
  white-space: nowrap;
}

.value-label .date-label {
  position: relative;
  z-index: 15;
}

.axis text {
  font: 11px sans-serif;
  fill: hsl(0, 0%, 21%);
}

.axis path {
  display: none;
}

.axis line {
  fill: none;
  stroke: hsl(0, 0%, 57%);
  shape-rendering: crispEdges;
}

.crossfilter-background {
  fill: hsla(0, 100%, 100%, 0);
}

.crossfilter {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.sidebar {
  padding: 10px;
  z-index: 999;
  position: absolute;
}

.logo {
  font-size: 1.4em;
}

.main-nav {
  position: absolute;
  right: 0;
  height: 60px;
  vertical-align: middle;
  line-height: 60px;
  font-size: 16px;
}

.main-nav div {
  display: inline-block;
  line-height: normal;
  padding-right: 30px;
}

.main-nav a {
  padding: 15px 12px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  width: 2.5em;
  text-align: center;
}

.sidebar a {
  padding: 5px 15px;
}

.sidebar-container a {
  color: #3498DB!important;
}

.sidebar-container a:hover {
  color: #5DADE2!important;
}

.pace .pace-progress {
  height: 4px!important;
}

.dropdown-inverse li.active > a, .dropdown-inverse li.selected > a {
  background-color: #3398DB!important;
}

.dropdown-inverse li.active > a, .dropdown-inverse li.selected > a:hover {
  background-color: #4C99CC!important;
}

.form-control:focus {
  border-color: #3498db;
}

.clearfix {
  clear: both;
}

.chart {
  width: 100%;
  height: 100%;
}

.modal-content {
  background: #EFF0F2!important;
}

.polaris-well {
  width: 100%;
  height: 100%;
  background-color: #fff !important;
  border-radius: 2px !important;
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.1)!important;
  -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.1)!important;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1)!important;
  border: none !important;
}

textarea.ng-invalid,input.ng-invalid {
  color: #e74c3c !important;
  border-color: #e74c3c !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*
 * Editable mode buttons
 */
.editable-mode {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 0;
  width: 100%;
  padding-right: 20px;
  font-size: 14px;
  color: #C9C9C9;
}

.editable-mode .fa {
  padding: 10px;
  cursor: pointer;
}

.editable-mode .fa:hover {
  color: #5a5a5a;
}

.editable-mode .delete {
  float: left;
}

.editable-mode .show {
  float: right;
}

/*
 * Loading icon
 */
.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ddd;
  opacity: 0.65;
  text-align: center;
}

.loading .aligner {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.spinner {
  display: inline-block;
  width: 50px;
  height: 30px;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

#index {
  position: absolute;
  width: 100%;
  top: 50%;
  margin: -200px auto 0;
  text-align: center;
}

#index .slogan {
  color: #2E8ECE;
  font-size: 72px;
  line-height: 50px;
  font-weight: 700;
}

#index .vision {
  margin-top: 30px;
  font-size: 32px;
  font-weight: 500;
}

#index .signup {
  font-weight: 500;
}

.signup-container {
  margin: 60px 0 0;
}

#index .signup .signup_with_social ul {
  padding: 0;
  margin: 0;
}

#index .signup .signup_with_social li {
  display: inline-block;
  margin-right: 16px;
}

#index .signup .signup_with_social li:last-child {
  margin-right: 0;
}

#index .signup .signup_with_email {
  margin: 30px 0 0;
}

#index .signup .signup_with_email .email_signup {
  display: inline-block;
  margin: 10px auto 0;
  font-size: 16px;
}

a.social_signup_button {
  text-decoration: none;
  display: inline-block;
  border-radius: 3px;
  padding: 7px;
  font-size: 18px;
  height: 50px;
  text-align: center;
}

a.social_signup_button > span {
  color: #fff;
  vertical-align: middle;
}

a.social_signup_button.facebook {
  background: #4568B2;
  width: 220px;
}

a.social_signup_button.facebook:hover {
  background: #5475BD;
}

a.social_signup_button.twitter {
  background: #12BEFF;
  width: 200px;
}

a.social_signup_button.twitter:hover {
  background: #2CC5FF;
}

a.social_signup_button.google {
  background: #DD4B39;
  width: 200px;
}

a.social_signup_button.google:hover {
  background: #E15F4F;
}

a.social_signup_button.github {
  background: #333333;
  width: 200px;
}

a.social_signup_button.github:hover {
  background: #4A4A4A;
}

.sign-msg {
  display: inline-block;
  vertical-align: middle;
  width: 150px;
}

.sign-msg > span {
  padding: 4px;
  white-space: nowrap;
}

.sign-msg > span:hover {
  background-color: rgba(168, 168, 168, 0.57);
  -webkit-transition: all 0.15s ease-out;
  -webkit-transition-delay: 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}

.email_signup .spacer {
  display: inline-block;
  border-right: 1px solid #999;
  height: 36px;
  vertical-align: middle;
}

.email_signup .or {
  position: absolute;
  left: 50%;
  background-color: #EFF0F2;
  color: #999;
  top: 26%;
  font-size: 11px;
  cursor: default;
  margin-left: -4px;
}

.email-sign .form-control {
  height: 50px!important;
}

.email-sign .form-group {
  margin-right: 6px;
  float: none!important;
  padding: 0!important;
}
